
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: yellow;
}
.main{
    background-image: url("bground4.png");
    /*display: flex;*/
    height: 700px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    padding: 20px;
    width: 100%;
    height: 80px;
    /*background-color: antiquewhite;*/
    text-align: center;
    align-items: center;
    font-family: cursive;
    color: chartreuse;
}
.heading span{
    font-size: 50px;
}
.header-item {
    margin-top: 10px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    position: relative;
}
.header-audio{
   position: absolute;

}
.header-time{
    /*margin-top: 10px;*/
    position: absolute;
    text-align: center;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
}

/*.header{*/
/*    width: 100%;*/
/*    height: 150px;*/
/*    !*background-color: yellow;*!*/
/*    !*box-sizing: border-box;*!*/
/*    justify-content: space-between;*/
/*}*/
.score, #status{
    font-size: 32px;
    color: #ff015f;
    /*text-align: center;*/
}
.highBoard{
    /*margin-top: 10px;*/
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 32px;
    color: #ff015f;
}
.scoretable{
    width: 180px;
    color: white;
    font-size: 24px;
    /*border: 1px solid red;*/
    background-color: #2f5d96;
    border-radius: 5px;
    border-collapse: collapse;
}
th, td{
    padding: 5px 0;
    border: 1px solid wheat;
}
.games{
    margin-top: 40px;
    width: 100%;
    height: 350px;
    justify-items: center;
    display: flex;
    /*background-color: white;*/
}

.holes{
    /*flex-wrap: wrap;*/
    /*width: 630px;*/
    /*height: 630px;*/
    /*background-color: yellow;*/
    /*border: 1px solid red;*/
    /*justify-content: space-around;*/
    border-spacing: 40px;
    margin: auto;

}

.hole {
    width: 120px;
    height: 80px;
    background-image: url("hole2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: auto;*/
    /*background: rgba(5, 26, 65, 0.5);*/
    border: none;
    /*border-radius: 50% 50%;*/
    position: relative;
    overflow: hidden;
    outline: none;

}


.buttons{
    margin-top: 50px;
    text-align: center;
    /*padding: 15px 45px;*/
    /*background-color: inherit;*/
    /*border: 1px solid #fff;*/
    color: #fff;
    border-radius: 3px;
    outline: none;
}
.start, .stop{
    padding: 5px 30px;
}
.stop{
    display: none;
}
.cat{
    position: absolute;
    width: 100%;
    background-image: url("zombie22.png");
    height: 100%;
    top: 100%;
    /*z-index: 1;*/
    background-size: 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
    /*top: 100%;*/
    left: 35px;
    /*pointer-events: none;*/
}

.hole.up .cat{
    top: 16%;
}

.cursor img {
    position: absolute;
    height: 100px;
    z-index: 2;
    transform: translate(-25px, -40px);
    pointer-events: none;
}
@keyframes hit {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-15deg);
    }
}