
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
h2{
    color: yellow;
}
.main{
    background-image: url("bground4.png");
    /*display: flex;*/
    height: 700px;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 220px;
    box-sizing: border-box;
}
.score{
    font-size: 32px;
    color: red;
    text-align: center;
}
.games{
    width: 100%;
    height: 350px;
    justify-items: center;
    display: flex;
}

.holes{
    /*flex-wrap: wrap;*/
    /*width: 630px;*/
    /*height: 630px;*/
    /*background-color: yellow;*/
    /*border: 1px solid red;*/
    /*justify-content: space-around;*/
    border-spacing: 40px;
    margin: auto;

}

.hole {
    width: 120px;
    height: 80px;
    background-image: url("hole2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: auto;*/
    /*background: rgba(5, 26, 65, 0.5);*/
    /*border: 1px solid black;*/
    /*border-radius: 50% 50%;*/
    position: relative;
    overflow: hidden;
    outline: none;

}


.buttons{
    margin-top: 50px;
    text-align: center;
    /*padding: 15px 45px;*/
    /*background-color: inherit;*/
    /*border: 1px solid #fff;*/
    color: #fff;
    border-radius: 3px;
    outline: none;
}
.start, .stop{
    padding: 5px 30px;
}
.stop{
    display: none;
}
.cat{
    position: absolute;
    width: 100%;
    background-image: url("zombie22.png");
    height: 100%;
    top: 100%;
    /*z-index: 1;*/
    background-size: 50%;
    background-repeat: no-repeat;
    transition: 0.4s;
    /*top: 100%;*/
    left: 35px;
    /*pointer-events: none;*/
}

.hole.up .cat{
    top: 16%;
}

.cursor img {
    position: absolute;
    height: 100px;
    z-index: 2;
    transform: translate(-25px, -40px);
    pointer-events: none;
}
@keyframes hit {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-15deg);
    }
}